.tile {
  border: 1px solid #CCC;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ee8b8e;
  color: #ffffff;
  font-size: 2.5rem;
}

.tile.disabled {
  cursor: none;
  pointer-events: none;
  background-color: #CCC;
}
